html {
	width: 100% !important;
	height: 100% !important;	
}
body {
	width: 95% !important;
	height: 95% !important;	
	padding: 0;
	margin: 0;
}


#sliderWindow {
	background-image: url('wildtextures-leather-Campo-ivory.jpg');
}

.sliderBox {
	font: 15px Gotham Book, sans-serif;
}

.basicButton {
	border-radius: 25px;
	margin: 2px;
}


